body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    color: #333;
    text-align: center;
    margin: 0;
    padding: 0;
    transition: background-color 0.5s ease;
}

header {
    background: linear-gradient(90deg, #8c5635, #d4a373);
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header h2 {
    color: #fff;
    font-size: 36px;
    margin: 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

button {
    background-color: #8c5635;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, transform 0.3s;
}

button:hover {
    background-color: #d4a373;
    transform: translateY(-2px);
}

button:active {
    transform: translateY(0);
}

ul.hidden {
    display: none;
}

ul {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}

ul li {
    font-size: 18px;
    padding: 10px;
    background-color: #ffe6cc;
    margin: 10px auto;
    width: 60%;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}

ul li:hover {
    background-color: #ffcc99;
}

footer {
    margin-top: 50px;
    background-color: #8c5635;
    color: #fff;
    padding: 20px;
    font-size: 14px;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
}

footer p {
    margin: 5px;
}
